<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.test.TestMapper">

	<!-- <resultMap id="resultMapObj" type="com.example.test.Test"></resultMap> --> <!-- mybatis인가 이거 사용해주기 위해 쓰는거임 -->

	
	<select id="selectList" resultMap="resultMapObj">
		SELECT * FROM lsmd_adm_sect_umd_11;
	</select>
	
	
	
</mapper>